<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" 
                      sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="technicalTeamEmails" value="benjamin.raibaud@ralphlauren.com" />
    <add key="smtpServer" value="smtpeu1.europe.poloralphlauren.com" />
    <add key="fromAddress" value="eu-donotreply@poloralphlauren.com" />
    <add key="maxDegreeOfParallelism" value="8" />
    <add key="mainConnectionString" value="Data Source=euchpdpowfdb1v.europe.poloralphlauren.com;Initial Catalog=MaintenanceSolution;Integrated Security=True;" />
  </appSettings>
</configuration>